html, body {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

@keyframes fill {
  from {width: 0;}
  to {width: 100%;}
}

.cont {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
  padding-bottom: 10%;

}

.bar {
  position: absolute;
  height: 300px;
  animation-name: fill;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.one {
  background-color: #8DB500;
  animation-delay: 0.5s;
}

.two {
  background-color: #00856A;
  animation-delay: 0.6s;
}

.three {
  background-color: #005869;
  animation-delay: 0.75s;
}

.four {
  background-color: black;
  animation-delay: 0.925s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: white;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.text_cont {
  position: fixed;
  height: 80%;
  width: 100%;
  padding-bottom: 20%;
  width: 100%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  animation: appear 0.3s 1.3s forwards;
  z-index: 100;
  pointer-events: none;
}

.text_cont p {
  position: absolute;
  color: white;
  font-size: 7rem;
  padding-top: 7.5px;
}

.anim {
  transition: top 0.3s;
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thanks {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 100;
}
