html {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  font-family: 'Quicksand', monospace;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-shadow: inset 0 15px 30px 0px rgba(255,255,255,1);
  z-index: 10;
  flex-shrink: 0;
}

header * {
  flex-shrink: 0;
  white-space: pre-wrap;
}

h1 {
  font-weight: 400;
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  min-height: 100px;
}

h1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  font-family: 'Quicksand', monospace;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  height: calc(100% - 150px);
  overflow: hidden;
  overflow-y: scroll;
  flex-shrink: 1;
}

main * {
  flex-shrink: 0;
  white-space: pre-wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

p {
  margin: 25px 0;
  padding: 0;
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span {
  display: flex;
  overflow: visible;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 span {
  border: none;
  height: auto;
  border-bottom: 3px solid black;
}

a span {
  border: none;
  white-space: nowrap;
  height: auto;
  border-bottom: 3px solid white;
}
