html, body, canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    overflow: hidden;
}

.overlay {
    position: fixed;
    bottom: 30px;
    left: 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    float: left;
    padding: 20px;
    width: auto;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
    transition: height 0.5s, width 0.5s, left 0.5s, bottom 0.5s;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
}

.button {
    text-decoration: underline;
}

.button:hover {
    cursor: pointer;
}

.mainCont {
    opacity: 1;
    transition: opacity 0.3s;
}

.contactCont {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.contentBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

p {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

canvas {
    background-color: lightgrey;
    cursor: pointer;
}
