:root {
    --tileSize:  100px;
    --lineWidth: 4px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

canvas.background {
    position: fixed;
    top:  0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas.draw {
    position: fixed;

    width:  calc((var(--tileSize) * 2) - var(--lineWidth));
    height: calc((var(--tileSize) * 2) - var(--lineWidth));

    bottom: calc((3 * var(--tileSize)) + (var(--lineWidth) / 2));
    left:   calc((5 * var(--tileSize)) + (var(--lineWidth) / 2));

    background-color: white;

    z-index: 1;
}

p {
    padding: 0;
    margin: 0;
}

.card {
    position: fixed;

    height: calc((2 * var(--tileSize)) - (20px * 2) + var(--lineWidth));
    width: calc((4 * var(--tileSize)) - (20px * 2) + var(--lineWidth));
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: black;
    color: white;
}

.card:hover {
    cursor: pointer;
}

.card.bottom {
    bottom: calc(var(--tileSize) - (var(--lineWidth) / 2));
}

.card.left {
    left: calc(var(--tileSize) - (var(--lineWidth) / 2));
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1rem;
}
