@import url('https://rsms.me/inter/inter-ui.css');

:root {
    --body-text-size: 1.2rem;
    --body-line-size: 1.4rem;
}

#apiLink {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: none;
    height: 100%;
    width: 100%;
    /* width: calc(100% - 20px);
    height: calc(100% - 20px); */
    overflow: hidden;
    overflow-y: scroll;
    /* padding: 10px; */
    margin: 0;
    font-family: 'Inter UI', sans-serif;
    background-color: rgb(255, 253, 244);
}

.grid {
    display: grid;
    grid-template-columns: 50px calc(calc(100% - 140px) / 2) 5px calc(calc(100% - 140px) / 2) 50px;
    grid-template-rows: 150px 100px auto 100px;
    grid-gap: 10px;
    align-items: stretch;
    justify-content: stretch;
    height: auto;
    width: 100%;
}

header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

h1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: var(--body-text-size);
}

.left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

p {
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
    font-size: 1.2rem;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(10 * calc(22px + var(--body-line-size))) var(--body-line-size) var(--body-line-size);
    grid-template-columns: auto 50px;
    grid-gap: 10px;
}

.listCont {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    height: auto;
}

.listItem {
    width: 100%;
    height: var(--body-line-size);
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listItem:first-of-type {
    border-top: 0;
}

input {
    border: 0;
    outline: 0;
    width: calc(100% - 50px);
    height: 100%;
    font-size: var(--body-text-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: rgba(0,0,0,0);
}

.listItem .status {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

#addButton:hover {
    color: rgba(0,0,0,0.55);
    cursor: pointer;
}

.buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    border: 0;
    /* border-bottom: 2px solid black;
    border-style: dotted; */
}

.buttons p:hover {
    cursor: pointer;
    text-decoration: underline;
}

#createButton.hidden {
    color: grey;
    pointer-events: none;
}

#clearButton.hidden {
    color: grey;
    pointer-events: none;
}

.output {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.output.hidden {
    display: none;
}

.linkCont {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 50px);
}

.linkCont p {
    width: auto;
}

#copyButton:hover {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#copyButton.copied:hover {
    color: black;
    cursor: default;
}
